useDynLib(GVEMGRM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, qlogis)
import(RcppArmadillo)
importFrom(stats, plogis, rmultinom)
importFrom(MASS, mvrnorm)
import(GPArotation)
export(gvemgrm)
export(iwgvemgrm)
export(simudata)